<!doctype html>
{% extends 'layout.html' %}
<html lang="en">

<body>
<main>
    {% block body %}
    <section class="py-5 text-center container">
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Course Review</h1>
                <p class="lead text-muted" style="margin: 20px 0 20px 0">Oregon State University Ecampus is widely
                    considered one of America's best
                    providers of online education. In 2022, Oregon State’s online bachelor's programs were ranked No. 5
                    in the nation by U.S. News & World Report, making it Ecampus' eighth straight year in the top
                    10.</p>
                <p>
                    <a href="/courses" class="btn btn-primary my-2" style="margin: 20px 0 0 0; background-color:#C34500; border-color:#C34500; color:#ffffff">All Courses</a>
                    <a href="/currencyConvert" class="btn btn-secondary my-2">Tuition</a>
                <form method="POST">
                    <input type="text" autofocus="autofocus" name="search_string" placeholder="CS161" onkeydown="saveCommand(event)" onclick="undo()">
                    <input type="submit" formaction="/search" value="search by course">
                </form>

                <button onclick="undo()" style="margin: 20px 0 20px 0" class="btn btn-light">Undo</button>
                <script src="/static/dist/js/backtracking.js"></script>
                {% if results %}
                <h5 style="margin: 10px 0 0 0; padding: 6px; text-align: center" class="osu-black-bg white-text">Search
                    result:</h5>
                {% for result in results %}
                <a href="course/{{result.id}}">{{result.num}}</a>
                {% endfor %}
                {% endif %}
                </p>
            </div>
        </div>
    </section>
    {% endblock %}
</main>

<script src="/static/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
<!--https://stackoverflow.com/questions/54416318/how-to-make-a-undo-redo-function-->